* {
  box-sizing: border-box;
}

body {
  background-image: url('https://wallpaperaccess.com/full/1094289.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Viga', ;
  color: orange;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.heading {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.instruction {
  border: 2px solid red;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  width: 580px;
  background-image: url("https://media0.giphy.com/media/85lAL888Z5nwY/giphy.gif?cid=790b7611824f4cc9da69e18649b3da58b6e594a2870c2cf0&rid=giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* .div {
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.grid {
  display: none;
  flex-direction: row;
  /* border: 1px solid grey; */
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
}

h1 {
  font-size: 60px;
  font-family: 'Viga', ;
}

p {
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  padding: 20px 20px 20px 20px;
  font-size: xx-large;
  font-weight: 500;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-style: oblique; */
}

.cell {
  width: 5%;
  height: 5%;
  /* border: 1px solid green; */
}

.display{
  display: flex;
  /* justify-content: space-around; */
  /* max-width: 700px; */
  /* margin: auto; */
  /* padding: 50px; */
  word-spacing: 100px;
}

button {
  font-family: inherit;
  font-size: 30px;
  color: orange;
  border: 5px solid grey;
  background-color: transparent;
  /* background-image: url("https://media.giphy.com/media/NhiF9eaTPNaU/giphy.gif"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin: 20px 0px;
  padding: 20px;
  width: 300px;
}


/* button {
  color: orange;
  background-color: teal;
  border: 4px solid #4CAF50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.heading {
  align-items: center;
  background-size: contain;
  margin: auto;
}


.player {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRE6lQv4CewQp82n8ATj67gFqvDqUJyXLr_qF8CRWtMK6OSUfoU');
  background-size: contain;
}

.alien {
  background-image: url('https://toppng.com/uploads/thumbnail//space-invaders-alien-space-invaders-alien-sprite-11563209507nmwvdi8s7b.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.laser {
  background-image: url('images/SpaceInvadersLaser.png');
  background-size: contain;
  background-position: center;
  width: 5%;
  height: 5%;
}

.bomb {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRw2whvwP_wOVAbKo6s-kQHaKtJHiQB59nqhZcswZS0lwPU8f7s');
  background-size: contain;
  background-position: center;
  width: 5%;
  height: 5%;
}

img {
  background-size: contain;

}

.startScreen {
  /* background: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("images/space-invaders-wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.highScore {
  display: none;
  border: 2px solid red;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  width: 400px;
  background-image: url("https://media.giphy.com/media/NhiF9eaTPNaU/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

li{
  list-style-type: none;
  padding: 4px;
}

