* {
  box-sizing: border-box;
}

body {
  /* background-image: url('https://www.tynker.com/projects/screenshot/5b36e51e94e01d66268b456f/space-invaders.png'); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid green;
}

.player {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRE6lQv4CewQp82n8ATj67gFqvDqUJyXLr_qF8CRWtMK6OSUfoU');
  background-size: contain;
}

.alien {
  background-image: url('https://toppng.com/uploads/thumbnail//space-invaders-alien-space-invaders-alien-sprite-11563209507nmwvdi8s7b.png');
  background-size: contain;
}

.laser {
  background-image: url('https://wiki.computationalthinkingfoundation.org/wiki/images/d/d0/SpaceInvadersLaserDepiction.png');
  background-size: contain;
}

.bomb {
  background-image: url('https://wiki.computationalthinkingfoundation.org/wiki/images/7/7f/SpaceInvadersAlienBombDepiction.png');
  background-size: contain;
}